<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- BootstrapCDN - CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Create_User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Add_Shift</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Logic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Sign_Up</a>
        </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="display-3"><center>Django Rota</center></h1>
</div>
 
<div class="container">
    <div class="jumbotron">
        <form action="{% url 'submit' %}" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>

<div class="container">
<div class="row">
    
    <div class="col-md-4 bg-light">

        <div class="container">
            <center>
                <p> <strong>Pay Periods:</strong> </p>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 11-Mar-18 -> Sat 07-Apr-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 08-Apr-18 -> Sat 05-May-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 06-May-18 -> Sat 02-Jun-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 03-Jun-18 -> Sat 30-Jun-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 01-Jul-18 -> Sat 28-Jul-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 29-Jul-18 -> Sat 25-Aug-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 26-Aug-18 -> Sat 22-Sep-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 23-Sep-18 -> Sat 20-Oct-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 21-Oct-18 -> Sat 17-Nov-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 18-Nov-18 -> Sat 15-Dec-18</a><br>
                <a href="{% url 'select' date_from='2018-03-11' date_to='2018-04-07' %}">Sun 16-Dec-18 -> Sat 12-Jan-19</a><br>
                <a href="{% url 'select' date_from='2019-01-13' date_to='2019-02-09' %}">Sun 13-Jan-19 -> Sat 09-Feb-19</a><br>
                <a href="{% url 'select' date_from='2019-02-19' date_to='2019-03-19' %}">Sun 10-Feb-19 -> Sat 09-Mar-19</a><br>
                <br>
                <a href="{% url 'select' %}"> Go to SELECT dates</a>
            </center>
        </div>
        
    </div>
        
    <div class="col-md-8">
        {% load shifts %}
         
        <div class="container">  
            {% for user in users %}
                <div class="row">
                    <div class="col-md-2"> <strong>{{user.username}}</strong> </div>
                    <div class="col-md-2"> <strong> In/Out </strong> </div>
                    <div class="col-md-2"> <strong> Break </strong>  </div>
                    <div class="col-md-3"> <strong> Total </strong>  </div>
                    <div class="col-md-3"> </div>
                </div>
                
                <hr> 
                {% for i in user.shift_set.all %}

                    <div class="row">
                        <div class="col-md-2"> {{ i.date|date:"d/m/y" }} </div>
                        <div class="col-md-2"> {{ i.clock_in|date:"H:i" }} - {{ i.clock_out|date:"H:i"}} </div>
                        <div class="col-md-2"> {{ i.break_time}} </div>
                        <div class="col-md-3"> {{i.duration}}h </div>
                        <div class="col-md-3"> <a class="btn btn-outline-danger btn-sm" href="{% url 'remove' pk=i.id %}">Remove</a> </div>
                    </div>
                    <hr>    

                {% endfor %}

                <div class="row">
                    <div class="col-md-2"> </div>
                    <div class="col-md-2"> </div>
                    <div class="col-md-2"> </div>

                    <div class="col-md-3"> 
                        <strong>Total: </strong>  {% calc_total_duration user.shift_set.all %}  
                    </div>

                    <div class="col-md-3"> </div>
                </div>
                <hr>
                
            {% endfor %} 
        
        </div>
    </div>
</div>
</div>      

<div class="jumbotron">
    {{ create_user_form.as_p }}
</div>


<footer>
    <div class="container jumbotron">
        <h6><center> Created by Teo Oliver - Django/Boostrap </center>  </h3>
    </div>
</footer>

</body>
</html>