<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- BootstrapCDN - CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  <title>Selected Dates</title>
</head>
<body>
   
<div class="container">
    <h1 class="display-3"><center>Filter Dates</center></h1>
</div>

    <div class="container">
        <div class="jumbotron">

            <form action={% url 'select' %} method="POST">
                {{ select_date_form.as_p}}
                {% csrf_token %}
            <input type="submit" class="btn btn-outline-danger btn-sm" value="Select">
            </form>

        </div>
        
    </div>

    <div class="container">  
    {% regroup shifts by name as user_list %}
    {% load shifts %} {# custom tag #}
        
    <hr>
        {% for user in user_list %}
        
            <div class="row">
                <div class="col-md-2"> <strong>{{ user.grouper.username }}</strong> </div>
                <div class="col-md-2"> <strong> In/Out </strong> </div>
                <div class="col-md-2"> <strong> Break </strong>  </div>
                <div class="col-md-3"> <strong> Hours </strong>  </div>
                <div class="col-md-3"> </div>
            </div>
            <hr>
            {% for shift in user.list %}
                <div class="row">
                    <div class="col-md-2"> {{ shift.date|date:"d/m/y" }} </div>
                    <div class="col-md-2"> {{ shift.clock_in|date:"H:i" }} - {{ shift.clock_out|date:"H:i" }} </div>
                    <div class="col-md-2"> {{ shift.break_time }} </div>
                    <div class="col-md-3"> {{ shift.duration }}h </div>
                </div>
                <hr>
            {% endfor %}
            
            <div class="row">
                <div class="col-md-2"> </div>
                <div class="col-md-2"> </div>
                <div class="col-md-2"> </div>
                <div class="col-md-3"> <strong>Total:</strong> {% calc_total_duration user.list %} </div>
                <div class="col-md-3"> </div>
                
            </div>
            <hr>
            
        {% endfor %} 
    </div>
</div>

<footer>
    
<div class="jumbotron">
    
    {% for i in users %}
        {{i}}
        {{i.total_duration}}
    {% endfor %}

</div>
</footer>

</body>
</html>